<div class="search-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="content-search-container">
                    <p>Weather in your city</p>
                    <div class="search-city">
                        <input type="text" class="form-control" placeholder="Your city name" [(ngModel)]="city.name" [ngModelOptions]="{standalone: true}">
                        <button type="submit" (click)="search()" class='btn'><i class="icon ion-android-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="results-container container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <ul class="result-list">
                <li class="result-item" *ngFor="let city of cities" routerLink="/details/{{city.id}}">
                    <div class="row">
                        <div class="col-md-4 temperature-info">
                            <div class="temperature-wrapper">
                                {{city.main.temp}}°C
                            </div>
                        </div>
                        <div class="col-md-4 city-info">
                            <div class="city-info-wrapper">
                                <h2 class="city-name">{{city.name}}, {{city.sys.country}} <img src="http://openweathermap.org/images/flags/{{city.sys.country | lowercase}}.png"></h2>
                                <table>
                                    <tr>
                                        <td>Máx</td>
                                        <td class="max-temp">{{city.main.temp_max}}°C</td>
                                    </tr>
                                    <tr>
                                        <td>Mín</td>
                                        <td class="min-temp">{{city.main.temp_min}}°C</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4 weather-info">
                            <div class="weather-info-wrapper">
                                <div class="weather-icon">
                                    <img src="http://openweathermap.org/img/wn/{{city.weather[0].icon}}@2x.png" alt="" class="weather-icon">
                                </div>
                                <span class="weather-info">{{city.weather[0].main}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ng-template #no_results>
                <div class="mb-4 card">
                    <div class="card-body">Not found any locations for this entry, please try again</div>
                </div>
            </ng-template>
        </div>
    </div>
</div>