@import '../../assets/scss/config/color.scss';

.search-container {
    background-color: $primary;
    .content-search-container {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
            color: $white;
            font-size: 1.25rem;
            text-transform: uppercase;
            letter-spacing: .5px;
        }
        .search-city {
            width: 100%;
            position: relative;
            .form-control {
                width: 100%;
                padding: 0.7rem 1rem;
                font-size: 1rem;
                box-shadow: 0 .3rem .4rem rgba(0,0,0,0.2);
                background-color: $white;
                border-color: $white;
            }
            .btn {
                position: absolute;
                right: 0;
                top: 0;
                background: transparent;
                font-size: 1.42rem;
                color: $primary;
            }
        }
    }
}

.results-container {
    .result-list {
        list-style-type: none;
        padding: 0;
        margin-top: -1.25rem;
        .result-item {
            background-color: $white;
            box-shadow: 0 .3rem .7rem rgba(0,0,0,0.1);
            border-radius: .3rem;
            padding: 1rem;
            margin-bottom: 1rem;
            .temperature-wrapper {
                background-color: darken($white,6%);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                font-weight: 600;
                height: 100%;
            }
            .city-info-wrapper {
                padding-top: 1rem;
                padding-bottom: 1rem;
                .city-name {
                    color: $primary;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                table {
                    width: 100%;
                    tr { 
                        td { 
                            width: 50%; 
                            font-size: .8rem;
                            color: $gray;
                            opacity: 0.5;
                            &.max-temp,&.min-temp {
                                font-size: 1rem;
                                opacity: 1;
                                font-weight: 600;
                            }
                            &.max-temp { color: $red; }
                            &.min-temp { color: $blue; }
                        } 
                    }
                }
            }
        }
    }
}