<div class="search-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="content-search-container">
                    <p>Weather in your city</p>
                    <div class="search-city">
                        <input type="text" class="form-control" placeholder="Your city name" [(ngModel)]="city.name" [ngModelOptions]="{standalone: true}">
                        <button type="submit" (click)="search()" class='btn'><i class="icon ion-android-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>