<div class="search-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 col-md-1">
                <div class="back-wrapper">
                    <a *ngIf="loaded" routerLink="/search/{{data.city.name}}" class="back-button"><i class="ion-ios-arrow-thin-left"></i></a>
                </div>
            </div>
            <div class="col-10 col-md-4 offset-md-3">
                <div class="content-detail-header">
                    <div class="search-city">
                        <input *ngIf="loaded" type="text" class="form-control" placeholder="Your city name" [(ngModel)]="data.city.name" [ngModelOptions]="{standalone: true}">
                        <button type="submit" (click)="search()" class='btn'><i class="icon ion-android-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="detail-container">
    <div class="container pt-3">
        <div class="detail-header">
            <h1 *ngIf="loaded" class="text-center">Weather in {{data.city.name}}, {{data.city.country}}</h1>
            <p class="date-now text-center">{{date | date:'H:mm MMM d'}}</p>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="weather-detail">
                    <div class="row mb-4">
                        <div class="col-md-4">
                            <div class="temperature-wrapper" *ngIf="loaded">
                                {{data.list[0].main.temp}}°C
                            </div>
                            <div class="weather-info-wrapper" *ngIf="loaded">
                                <div class="weather-icon">
                                    <img src="http://openweathermap.org/img/wn/{{data.list[0].weather[0].icon}}@2x.png" alt="" class="weather-icon">
                                </div>
                                <span class="weather-info">{{data.list[0].weather[0].main}}</span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <table class="table" *ngIf="loaded">
                                <tr>
                                    <td class="bold">Máx</td>
                                    <td class="text-red bold">{{data.list[0].main.temp_max}}°C</td>
                                </tr>
                                <tr>
                                    <td class="bold">Mín</td>
                                    <td class="text-blue bold">{{data.list[0].main.temp_min}}°C</td>
                                </tr>
                                <tr>
                                    <td class="bold">Sunrise</td>
                                    <td>{{sunrise}}</td>
                                </tr>
                                <tr>
                                    <td class="bold">Sunset</td>
                                    <td>{{sunset}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h2>5 day weather forecast <small>every 3 hours</small></h2>
                            <ul class="forecast-list">
                                <li class="forecast-item" *ngFor="let forecast of forecasts">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="forecast-date">
                                                <span class="date">{{forecast.dt | date:'MMM d'}}</span>
                                                <span class="time">{{forecast.dt | date:'H:mm'}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="forecast-weather">
                                                <div class="weather-icon">
                                                    <img src="http://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt="" class="weather-icon">
                                                </div>
                                                <span class="weather-info">{{forecast.weather[0].main}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="forecast-temperatures">
                                                <span class="max-temp">
                                                    {{forecast.main.temp_max}}°C
                                                </span>
                                                <span class="min-temp">
                                                    {{forecast.main.temp_min}}°C
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>