@import '../../assets/scss/config/color.scss';
@import '../../assets/scss/config/mixins.scss';

.search-container {
    background-color: $primary;
    .back-wrapper{
        .back-button {
            font-size: 2rem;
            color: $white;
            width: 2rem;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
            margin-top: .5rem;        
        }
        @include responsive(max-md) {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
    .content-detail-header {
        min-height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .search-city {
            width: 100%;
            position: relative;
            .form-control {
                width: 100%;
                padding: 0.7rem 1rem;
                font-size: 1rem;
                box-shadow: 0 .3rem .4rem rgba(0,0,0,0.2);
                background-color: $white;
                border-color: $white;
            }
            .btn {
                position: absolute;
                right: 0;
                top: 0;
                background: transparent;
                font-size: 1.42rem;
                color: $primary;
            }
        }
    }
    
}

.detail-container {
    .detail-header {
        margin-bottom: 1.5rem;
        h1 {
            font-size: 2.2rem;
            font-weight: 400;
            color: $gray;
            margin: 0;
        }
        .date-now {
            color: $gray;
            opacity: 0.75;
            font-size: .9rem;
        }
    }
    .weather-detail {
        background: $white;
        box-shadow:  0 4px 6px rgba(0,0,0,0.2);
        padding: 1rem;
        .temperature-wrapper {
            background-color: darken($white,6%);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            font-weight: 600;
            padding: 1rem 0;
        }
        .weather-info-wrapper {
            margin-top: 1.5rem;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            .weather-icon {
                background-color: darken($white,13%);
                max-width: 5rem;
                max-height: 5rem;
                border-radius: 2.5rem;
                margin-bottom: .5rem;
            }
        }
        .table {
            tr {
                td {
                    padding: 1rem;
                }
                &:first-child {
                    td {
                        border-top: 0;
                    }
                }
            }
        }
        h2 {
            font-size: 1.5rem;
            font-weight: 400;
            small {
                font-size: .8rem;
                font-style: italic;
                opacity: .75;
                padding-left: 1rem;
            }
        }
        .forecast-list {
            list-style-type: none;
            padding: 0;
            .forecast-item {
                width: 100%;
                padding: 1rem 2rem;
                border-bottom: 1px solid darken($white,6%);
                transition: all .2s ease-in-out;
                &:hover {
                    background-color: darken($white,4%);
                    transition: all .2s ease-in-out;
                    box-shadow: -.5rem 0 0 $primary;
                }
                .forecast-date {
                    .date {
                        font-weight: 600;
                        display: block;
                    }
                    .time {
                        font-style: italic;
                        opacity: .75;
                        font-size: .8rem;
                    }
                }
                .forecast-weather {
                    display: flex;
                    align-items: center;
                    .weather-icon {
                        width: 3rem;
                        height: 3rem;
                        background-color: darken($white,15%);
                        border-radius: 1.5rem;
                        margin-right: 1rem;
                    }
                    .weather-info {
                        font-size: .9rem;
                        font-style: italic;
                        opacity: .75;
                    }
                }
                .forecast-temperatures {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    .max-temp {
                        color: $red;
                        margin-right: 1rem;
                        font-weight: 600;
                    }
                    .min-temp {
                        color: $blue;
                        font-weight: 600;
                    }
                }
                &:first-child {
                    border-top: 1px solid darken($white,6%)
                }
            }
        }
    }
}