@keyframes fadeIn {
    from {opacity:0; transform: translateY(5px);}
    to {opacity:1;transform: translateY(0px);}
}

@keyframes shrinkVert {
    from { min-height: 100vh; }
    to { min-height: 200px; }
}