// BREAKPOINTS
$sm 	: 576px; 
$md 	: 768px;
$lg 	: 992px;
$xl 	: 1200px;

$min-sm : $sm + 1;

//--
$max-sm : $sm  - 1;  
$max-md : $md  - 1;  
$max-lg : $lg  - 1;
$max-xl : $xl  - 1;


@mixin responsive($size) {
	
	//XL
	@if ($size == max-xl){
		@media screen and (max-width:#{$max-xl}){
			@content;
		}
	}
	@if ($size == min-xl){
		@media screen and (min-width:#{$xl}){
			@content;
		}	
	}
	
	//LG
	@if ($size == max-lg){
		@media screen and (max-width:#{$max-lg}){
			@content;
		}
	}
	@if ($size == min-lg){
		@media screen and (min-width:#{$lg}){
			@content;
		}	
	}
	
	//MD
	@if ($size == max-md){
		@media screen and (max-width:#{$max-md}){
			@content;
		}
	}
	@if ($size == min-md){
		@media screen and (min-width:#{$md}){
			@content;
		}	
	}
    
    //SM
	@if ($size == max-sm){
		@media screen and (max-width:#{$max-sm}){
			@content; 
		}
	}
	
	@if ($size == min-sm){
		@media screen and (max-width:#{$sm}){
			@content;
		}
	} 

}